.App {
  text-align: center;
}

.length-container {
  display: flex;
  flex-direction: column;
}

.length-control-container {
  display: flex;
  justify-content: center;
}
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 1px solid pink;
}

.timer-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset {
  margin-left: 15px;
}
